<!-- /.content-wrapper -->
<footer class="main-footer">
    <strong>جميع الحقوق محفوظة.&copy; 2025 <a href="index.html">ادارة أرما للعقارات</a>.</strong>
    <div class="float-right d-none d-sm-inline-block">
        <b>الاصدار</b> 1.0.0
    </div>
</footer>
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-light">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->

