<!DOCTYPE html>
<html dir="rtl">
<head>
    <partial name="_Head" />
</head>
<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">

    <div class="wrapper">
        <!-- Navbar -->
        <partial name="_Header" />
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <partial name="_MainSidebar" />
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <partial name="_Footer" />
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <partial name="_Scripts" />
    @await RenderSectionAsync("Scripts", required: false);
</body>
</html>



