@using ArmaProperty.Domain.Entities
@using ArmaProperty.Infrastructure.ViewModel
@model IEnumerable<OwnerViewModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@foreach (var item in Model)
{
    <h4>@item.FullName</h4>
}

<form >
    <input 
</form>