@model IEnumerable<TenantViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="card card-outline card-info">
    <div class="card-header">
        <a class="btn btn-outline-primary btn-sm" asp-controller="Tenants" asp-action="Create">
            <i class="fas fa-plus-square"></i>
            اضافة جديد
        </a>
    </div>
    <div class="card-body">

        @if (Model.Any())
        {
            <table class="table table-bordered table-striped" id="js-tableCategory">
                <thead>
                    <tr>
                        <th style="width:10%">row 1</th>
                        <th style="width:15%">row 2</th>
                        <th style="width:49%">row 3</th>
                        <th style="width:10%">row 4</th>
                        <th style="width:10%">row 5</th>  
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="width:15%"><a href="/Admin/Categories/Edit/">@item.Id</a></td>
                            <td style="width:15%"><a href="/Admin/Categories/Edit/">@item.FullName</a></td>
                            <td style="width:15%"><a href="/Admin/Categories/Edit/">@item.PhoneNumber</a></td>
                            <td style="width:15%"><a href="/Admin/Categories/Edit/">@item.Details</a></td>

                            <td style="width:10%">
                                <div class="dropdown text-center">
                                    <a class="text-info" href="#" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </a>
                                    <div class="dropdown-menu text-center" aria-labelledby="dropdownMenu2">
                                        <a class="text-primary dropdown-item" href="#"><i class="far fa-eye"></i> عرض</a>
                                        <a class="text-info dropdown-item" href="/Admin/Categories/Edit/"><i class="fas fa-edit"></i> تعديل</a>
                                        <a class="text-danger dropdown-item" href="javascript:;"><i class="fas fa-trash"></i> حذف</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                <i class="fas fa-exclamation-triangle"></i>
                لايوجد بيانات
            </div>
        }

    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
    <!-- /.card-footer-->
</div>
<!-- /.card -->
@section Scripts{
    <script>
        $(document).ready(() => {
            //Initial Data Table
            $(".table").DataTable({
                "responsive": true, "lengthChange": true, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                "jQueryUI": true,
                "language": {
                    "lengthMenu": "عرض _MENU_ السجلات لكل صفحة",
                    "zeroRecords": "عفوا لا توجد بيانات للعرض",
                    "info": "عرض الصفحة _PAGE_ من _PAGES_",
                    "infoEmpty": "لا توجد سجلات متاحة",
                    "infoFiltered": "(تصفية من  _MAX_ اجمالي السجلات)",
                    "search": "بحث :",
                    "oPaginate": {
                        "sPrevious": "السابق",
                        "sNext": "التالي",
                        "sFirst": "الاول",
                        "sLast": "الاخير",
                        "copy": "نسخ"
                    },
                    "buttons": {
                        "copy": "نسخ",
                        "csv": "CSV",
                        "excel": "اكسل",
                        "pdf": "بي دي اف",
                        "print": "طباعة",
                        "colvis": "فرز حسب"
                    }
                }
            }).buttons().container().appendTo('#js-tableCategory_wrapper .col-md-6:eq(0)');
        });
    </script>
}