@model PropertyViewModel
@{
    ViewData["Title"] = "Edit";
}

<!-- Content Header (Page header) -->
<div class="content-header">

    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-info">تعديل وحدة </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin/Home/Index">الصفحة الرئسية</a></li>
                    <li class="breadcrumb-item active">أرما للعقارات</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Default box -->
<div class="card card-outline card-info">
    <div class="card-header">
        <h6 dir="rtl" class="text-info">
            <i class="fas fa-th-large"></i>
            الوحدات
            | <a dir="rtl" href="/Admin/Categories/List" class="text-info">
                قائمة الوحدات
            </a>

        </h6>
    </div>

    <form asp-controller="Properties" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input hidden asp-for="PropertyAddEditViewModel.Id" />
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-10">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label class="control-label">
                                نوع العقار
                            </label>
                        </div>
                        <div class="col-md-10">
                            <select asp-for="PropertyAddEditViewModel.PropertyTypeId" class="form-control" asp-items="Model.PropertyType">
                                <option selected value="">اختر النوع</option>
                            </select>
                            <span asp-validation-for="PropertyAddEditViewModel.PropertyTypeId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label class="control-label">
                                حالة العقار
                            </label>
                        </div>
                        <div class="col-md-10">
                            <select asp-for="PropertyAddEditViewModel.PropertyStatusId" class="form-control" asp-items="Model.PropertyStatus">
                                <option selected value="">اختر الحالة</option>
                            </select>
                            <span asp-validation-for="PropertyAddEditViewModel.PropertyStatusId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label class="control-label">
                                اسم المالك
                            </label>
                        </div>
                        <div class="col-md-10">
                            <select asp-for="PropertyAddEditViewModel.OwnerId" class="form-control select2" asp-items="Model.Owners">
                                <option selected value="">اختر المالك</option>
                            </select>
                            <span asp-validation-for="PropertyAddEditViewModel.OwnerId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label class="control-label">
                                الاسم
                            </label>
                        </div>
                        <div class="col-md-10">
                            <input type="text" asp-for="PropertyAddEditViewModel.Name" autocomplete="on" class="form-control" placeholder="أسم الوحدة ...........">
                            <span asp-validation-for="PropertyAddEditViewModel.Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">
                                المساحة
                            </label>
                        </div>
                        <div class="col-md-8">
                            <input type="number" asp-for="PropertyAddEditViewModel.Area"  class="form-control" placeholder="مساحة الوحدة ...........">
                            <span asp-validation-for="PropertyAddEditViewModel.Area" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">
                                الايجار
                            </label>
                        </div>
                        <div class="col-md-8">
                            <input type="number" asp-for="PropertyAddEditViewModel.Rent"  autocomplete="on" class="form-control" placeholder="ايجار الوحدة ...........">
                            <span asp-validation-for="PropertyAddEditViewModel.Rent" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label class="control-label">
                                التفاصيل
                            </label>
                        </div>
                        <div class="col-md-10">
                            <textarea asp-for="PropertyAddEditViewModel.Description" class="form-control" placeholder="التفاصيل ..........."></textarea>
                            <span asp-validation-for="PropertyAddEditViewModel.Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer text-center">
            <button class="btn btn-info" type="submit"><i class="fas fa-plus"></i>  تعديل </button> |
            <a href="/Admin/Categories/List" class="btn btn-outline-dark"><i class="fas fa-power-off"></i> الغاء</a>
        </div>
        <!-- /.card-footer-->
    </form>
</div>
<!-- /.card -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_AlertMsg" />
}

