@model PropertiesViewModel
@{
    ViewData["Title"] = "Index";
}
<!-- Content Header (Page header) -->
<div class="content-header">

    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-info">قائمة الوحدات </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin/Home/Index">الصفحة الرئسية</a></li>
                    <li class="breadcrumb-item active">أرما للعقارات</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Default box -->
<div class="card card-outline card-info">
    <div class="card-header">
        <a class="btn btn-outline-primary btn-sm" asp-controller="Properties" asp-action="Create">
            <i class="fas fa-plus-square"></i>
            اضافة جديد
        </a> |
        @*Start Filter*@
        <a class="btn btn-primary btn-sm" href="#" data-toggle="collapse" data-target="#collapseFilterId" aria-expanded="false" aria-controls="collapseFilterId">
            <i class="fas fa-filter"></i>  &nbsp;  فلتر  &nbsp;
        </a>

        <div class="collapse row mt-3" id="collapseFilterId" style="margin-bottom:-17px">
            <div class="card-body col-md-12">
                <div class="form-group row">
                    <div class="col-md-4">
                        <div class="row">
                            <a class="col-sm-1" href="javaScript:(0);" style="margin-top: 8px;" id="SearchButton">
                                <i class="fas fa-search fa-3"></i>
                            </a>
                            <input id="Search" class="form-control col-sm-11" type="search" placeholder="ابحث باستخدام الكود أو الاسم">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <select id="Owner" class="form-control select2" asp-items="Model.Owners">
                            <option selected value="">اختر المالك</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select id="Type" class="form-control" asp-items="Model.PropertyType">
                            <option selected value="">اختر النوع</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select id="Status" class="form-control" asp-items="Model.PropertyStatus">
                            <option selected value="">اختر الحالة</option>
                        </select>
                    </div>
                     <div class="col-md-1">
                        <button class="btn btn-info" style="margin-top: -5px;" id="js-btnReset">تعين</button>
                    </div>
                </div>
            </div>
        </div>
        @*End Filter*@
    </div>

    <div class="card-body">
        <table class="table table-bordered table-striped w-100" id="js-TableProperties">
                <thead>
                    <tr>
                    <th style="width:1%">#</th>
                    <th style="width:15%">اسم العين</th>
                    <th style="width:15%">مالك العين</th>
                    <th style="width:5%">النوع</th>
                    <th style="width:5%">المساحة</th>
                    <th style="width:5%">الإيجار</th>
                    <th style="width:5%">الحالة</th>
                    <th style="width:4%">الاحداث</th>
                    </tr>
                </thead>
            </table>
    </div>
    <!-- /.card-body -->
  @*   <div class="card-footer">
    </div> *@
    <!-- /.card-footer-->
</div>
<!-- /.card -->

@section Scripts {
    <partial name="_AlertMsg" />
    <script src="~/js/properties/propertiesindex.js"></script>
}